@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #00b0f5;
  --color-secondary: #044fa9;
}

html {
  font-family: "Open Sans", sans-serif;
}

.modern-calendar .rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.modern-calendar .rbc-toolbar button {
  @apply bg-gradient-to-r from-blue-500 to-indigo-600 text-white px-4 py-1 rounded-md text-sm font-medium transition hover:from-blue-600 hover:to-indigo-700;
}

.modern-calendar .rbc-month-view,
.modern-calendar .rbc-time-view,
.modern-calendar .rbc-agenda-view {
  border: none;
}

.modern-calendar .rbc-header {
  color: white;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  background: var(--color-primary);
}

.modern-calendar .rbc-allday-cell {
  display: none;
}

.modern-calendar .rbc-today {
  background-color: #bfdbfe !important;
  border-radius: 8px;
}

.modern-calendar .rbc-event {
  border-radius: 4px;
}

@layer utilities {
  .animate-fade-in-down {
    animation: fadeInDown 0.3s ease-out forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
